html {
    position: relative;
    min-height: 100%;
}
body {
    /* When using the navbar-top-fixed */
    padding: 60px 0 50px;
}
.navbar-default {
    background: #0778bf none;
    border-color: #0778bf;
}
.navbar-default .navbar-brand {
    color: #ffffff;
    text-shadow: none;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #919b9d;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
    text-shadow: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #919b9d;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #919b9d;
    background-color: #0778bf;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #919b9d;
    background-color: #0778bf;
}
.navbar-default .navbar-toggle {
    border-color: #0778bf;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0778bf;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #919b9d;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #919b9d;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #919b9d;
        background-color: #0778bf;
    }
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
}
.container .text-muted {
    margin: 20px 0;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.centercontents {
    text-align: center !important;
}
.alignrightcontents {
    text-align: right !important;
}
.modal-wide .modal-dialog {
    width: 80%; /* or whatever you wish */
}
/* Bootstrap style callouts */
/* Base styles (regardless of theme) */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}
/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}
.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: #B94A48;
}
.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: #C09853;
}
.bs-callout-info h4,
.bs-callout-info a.alert-link {
    color: #3A87AD;
}
.bs-callout a.alert-link {
    font-weight: bold;
}
.the-legend {
    border: 0 none;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
.the-fieldset {
    border: 2px groove threedface;
    -webkit-box-shadow:  0 0 0 0 #000;
    box-shadow:  0 0 0 0 #000;
}
.well-white {
    background-color: rgb(255, 255, 255);
}
.row-fluid {
    word-wrap: break-word;
}
.container-fluid {
    word-wrap: break-word;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.col-8{
    width: 12.5%;
}
input:valid { color: green; }
input:invalid { color: red; }